.search-button {
    background-color: #E87500;
    color: white;
    width: fit-content;
    border-radius: 50px;
    border: 2px solid #E87500;
    font-size: medium;
}

.search-bar-container {
    gap: 10px;
    padding-left: 350px;
    padding-bottom: 150px;
}

.search-wrapper {
    border: 2px solid #E87500;
    background-color: transparent;
}

.search-bar {
    background-color: transparent;
    border-radius: 50px;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    border: none;
    font-size: medium;
    color: black;
    text-align: left;
}

.search-bar::placeholder {
    color: black;
    font-size: medium;
}

.search-bar:focus {
    outline: none;
    border: none;
}

.landing-page-cover {
    align-items: center;
    padding-top: 100px;
}

.tag-line {
    font-style: italic;
    color: black;
    font-family: cursive;
    animation-name: slideFromLeft;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    position: relative;
    left: -500px;
    opacity: 0;
}

@keyframes slideFromLeft {
    from {
        left: -500px;
        opacity: 0;
    }

    to {
        left: 50px;
        opacity: 1;
    }
    
}

.register-your-restaurant-container {
    display: flex;
    align-items: center !important;
    /*bottom: 2%;
    left: 10%;
    top: 50%;*/
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
}

.register-your-restaurant-image {
    display: flex;
    align-items: center;
}

.register-your-restaurant-title {
    display: flex;
    align-items: center;
    font-size: larger;
    font-style: italic;
    font-family: cursive;
    font-weight: bold;
    color: black;
    padding-top: 5px;
}
.register-your-restaurant-title:hover{
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

.partner-with-us-container {
    padding-top: 30px;
}

.partner-with-us {
    background-color: #124734;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
}

.partner-with-us-title{
    color: white;
    font-style: italic;
    align-items: flex-start;
    font-weight: bold;
    font-family: cursive;
}
.delivery-search-button{
    padding-bottom: 15px;
}
