.feedback-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    margin-left: 500px;
  }
  
  .FeedbackForm {
    background-color: #ffffff;
    padding: 2rem 2.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 150%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
  }
  
  .Ratings{
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 6px;
    width: 100%;
    resize: none;
  }
  
  .CustomerComments {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 6px;
    width: 100%;
    resize: none;
  }
  
  .form-submit-button {
    background-color: #007bff;
    color: white;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .form-submit-button:hover {
    background-color: #0056b3;
  }
  
  .message-info {
    color: green;
    font-weight: bold;
    margin-top: 0.5rem;
    text-align: center;
  }
  