/* Menu Sidebar */
.menuSideScreenContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #124734;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 20px;
    transition: transform 0.3s ease;
    transform: translateX(-100%); /* Initially hidden */
  }
  
  .menuSideScreenContent.show {
    transform: translateX(0); /* Show the sidebar */
  }
  
  .navigation-container {
      display: flex;
      align-items: center;
      background: #E87500;
      padding: 10px;
      width: 100vw;
      height: auto;
      top: 0;
      position: fixed;
      gap: 10px;
  }
  
  .logo-image {
      width: 40px;
      height: auto;
      align-items: center;
  }
  .menu-icon {
      color: white;
      font-size: 18px;
      cursor: pointer;
      align-items: center;
      padding-top: 10px;
  }
  
  .logo-text {
      color: white;
      align-items: center;
      font-size: 20px;
  }
  .logo-brand {
      display: flex;
      align-items: center;
      gap: 10px;
  }
  
  .logo-home {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 125px;
  }
  
  .search-wrapper {
      align-items: center;
      display: flex;
      gap: 5px;
      /*border-color: white;*/
      border-radius: 5px;
      background-color: white;
      height: 40px;
      border-radius: 50px;
      width: 300px;
      border: 2px solid #E87500;
  }
  
  .search-bar {
      color: #E87500;
      background-color: transparent;
      border-radius: 50px;
      width: 100%;
      box-sizing: border-box;
      height: 100%;
      border: none;
  }
  
  .navbar {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: -10px;
  }
  
  .search-bar-container {
      /*position: absolute;
      /*transform: translate(-50%,-50%);*/
      /*top: 50%;*/
      /*transform: translate(40vw,0);*/
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      /*width: 500px;*/
      gap: 10px;
  }
  
  .addressDropDownContent {
      position: absolute;
      top: 100%;
      left: 25%;
      border-color:#E87500;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #333;
      color: white;
  }
  
  .login-button {
      border-color: white;
      background-color: #E87500;
      border-width: 2px;
      border-radius: 50px;
      height: auto;
      width: auto;
      margin-left: 10px;
  }
  
  .signup-button {
      border-width: 2px;
      border-radius: 50px;
      background-color: white;
      /*border-color: #E87500;*/
      height: auto;
      width: auto;
      box-shadow: inset 0 0 2px #E87500;
      margin-right: 10px;
  }
  
  .login-signup-buttons {
      display: flex;
      gap: 10px;
  }
  
  .cart {
      cursor: pointer;
      margin-left: auto;
      align-items: center;
      padding-top: 10px;
      font-size: 18px;
      padding-right: 15px;
  }
  
  .login-signup-cart {
      align-items: center;
      display: flex;
      margin-left: auto;
      padding-right: 25px;
  }
  
  .login-signup-address-cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1100px;
  }
  
  .login-button-sidescreen {
      width: 100%;
      border-color: white;
      background-color: #E87500;
      border-width: 2px;
      border-radius: 50px;
      height: auto;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  .signup-button-sidescreen {
      width: 100%;
      border-width: 2px;
      border-radius: 50px;
      background-color: white;
      /*border-color: #E87500;*/
      height: auto;
      box-shadow: inset 0 0 2px #E87500;
      margin-left: 10px;
      margin-bottom: 10px;
  }
  
  .register-restaurant {
      color: white;
      margin-left: 50px;
      margin-top: 20px;
  }
  
  .register-restaurant:hover {
      color: #E87500;
      cursor: pointer;
  }
  
  .manage-profile {
    color: white;
    margin-left: 50px;
    margin-top: 20px;
}

.manage-profile:hover {
    color: #E87500;
    cursor: pointer;
}
  .close-menu-sideScreen-icon:hover{
      color: #E87500;
  }
  
  .login-and-signup {
      padding-right: 25px;
      padding-bottom:10px;
  }